
.content-home12{
  margin-top: 50px;
}
.content-home12 .content-center .line{
  height: 1px;
  background:#8f7baf;
  margin-bottom: 30px;
}
.content-home12 .content-center .left{
  float: left;
  margin-left: 20px;
}
.content-home12 .content-center .left img{
  float: left;
}
.content-home12 .content-center .right{
  float: right;
  margin-right: 20px;
}
.content-home12 .content-center .right img{
  float: left;
}
.content-home12 .content-center span{
  font-size: 18px;
  margin-left: 10px;
  color: #1e5a72;
}
.content-home12 .content-center img{
  width: 30px;
}
.content-home12 .content-right{
  text-align: center;
}
.content-home12 .content-right img{
  width: 80px;
}

.row-footer{
  margin-top: 30px;
  border-top: 1px solid #000;
  padding: 50px 0;
}
.row-footer .content-left img{
  width: 80%;
  margin-bottom: 20px;
}

.row-footer .content-left p{
  margin: 0;
  font-size: 13px;
}

.row-footer .content-left .text3{
  margin-top: 15px;
}

.row-footer .content-right{
  padding: 50px 0;
  text-align: right;
}
.row-footer .content-right li{
  display: inline-block;
  padding-right: 30px;
}
.row-footer .content-right li a{
  color: #000;
  font-size: 12px;
}
.row-footer .content-right li:last-child{
  padding-right: 0;
}
.row-footer .content-right .icon{
  margin-top: 20px;
}
.row-footer .content-right .icon img{
  width: 25px;
  margin-left: 30px;
}



/* ------------------------------------------ Responsive ----------------------------- */
@media only screen and (max-width: 1199px) {
  .menu li {
    margin-right: 10px;
  }
  .slider-right {

    margin-top: 15px;

}
  
}

@media only screen and (max-width: 991px) {
  .menu {
    padding: 0 0px;
  }
  .menu li a {
    font-size: 7px;
    width: 79px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    position: unset;
    width: 100%;
  }
  .row-slide-left{
    display: none;
  }
  .menu {
    margin-top: 25px;
  }
  .menu li a {

    font-size: 8px;
    width: 90px;

  }
}

@media only screen and (max-width: 575px) {
  
}


/*  ----------------------------------------End Responsive ----------------------------- */



/* -------------------------------------------Lien He CSS------------------------------ */
.main-contact{
  background-image: url("/static/contact/images/left-bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 66.66%;
}
.form-lien-he{
  background-image: url("/static/contact/images/form-chung.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 33.33%;
}
#contact{
  width: 80%;
  margin-left:auto; 
  margin-right:auto;
  display: table;
}

.input-chung{
  background-image: url("/static/contact/images/form.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.input-gt{
  background-image: url("/static/contact/images/tuoi-gt.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: 100% 100%; */
}
.input-tuoi{
  background-image: url("/static/contact/images/tuoi-gt.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: 100% 100%; */
}
.input-nd{
  background-image: url("/static/contact/images/nd.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: 100% 100%; */
}
input {
  background: none;
  border: none;
  outline: none;
}
.form-control{
  background-image: url("/static/contact/images/form.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: unset !important;
  background-clip: unset !important;
  border:  unset !important;
  text-align: 1px;
  width: 100%;
  margin:0 auto; 
  display: table !important;
}

.form-group{
  margin-left:auto; 
  margin-right:auto;
  display: table;
}
