.content1{
    margin-top: 700px;
    .intro{
        span{
            font-size: 30px;
            color: #9966CC;
        }
        .intro_text{
            p{
                font-size: 25px;
            }
            width: 500px;
        }
    }
    
}